* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Elementi comuni */

.container-big {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;

    text-align: center;

    padding: 10px 17px;

    background-color: #0061ff;
    color: white;
}
/* Fine Elementi comuni */



/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;

    background-color: white;
    padding: 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;

    font-style: none;

    gap: 40px;
}

nav a {
    text-decoration: none;
    color: black;
}

.links ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
/* fine navbar */



/* Header */

header {
    width: 100vw;
    background-color: #b4d0e7;
    margin-bottom: 150px;
}

h1 {
    font-size: 60px;
    margin-bottom: 60px;
}

header .container-big {
    position: relative;
    bottom: -80px;
}

header .row {
    display: flex;
}

header .row .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;

    width: 30%;
}

header .row .image {
    width: 70%;
}

header .image img {
    width: 100%;
}

header .text .fa-solid {
    font-size: 45px;
    margin-top: 40px;
}
/* Fine header  */



/* business plan */
h2 {
    font-size: 30px;

    padding-bottom: 60px;
}
#business-plans {
    margin-bottom: 150px;
}

#business-plans .row {
    display: flex;
    justify-content: space-between;
}

#business-plans .plan {
    border: dashed 1px red;
    min-height: 400px;
    /* test */
    
    display: flex;
    flex-direction: column;

    padding-inline: 30px;
    gap: 20px;

    width: calc(100% / 3 - 50px / 3 * 2);
}

.user {
    text-align: center;

    padding: 12px;

    border-bottom: lightslategrey 1px solid;
}

.plan-bottom {
    display: flex;

    padding: 30px;
}
/* Fine business plan  */



/* Entra in contatto */

#contatto {
    display: flex;

    gap: 50px;

    margin-bottom: 150px;
}

#contatto .image {
    width: 65%;
}

#contatto .text {
    width: 35%;
}

#contatto img {
    width: 100%;
}

/* Fine entra in contatto */



/* Footer */

footer {
    display: flex;
    flex-direction: column;

    height: 570px;

    background-color: black;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-around;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

/* Fine footer */